

.email-verify-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  font-family: Arial, sans-serif;
}

.email-verify-container h2 {
  margin-bottom: 20px;
  color: #120101;
}

.email-verify-container form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 300px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.email-verify-container input {
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s;
}

.email-verify-container input:focus {
  border-color: #4a90e2;
}

.email-verify-container button {
  padding: 12px;
  background: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.email-verify-container button:hover {
  background: #357abd;
}

 .existing-account {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
  }
  
  .existing-account .login-link {
    color: #2575fc;
    font-weight: 600;
    text-decoration: none;
  }

  .emailtext{
    text-align: center;
  }
  
  .existing-account .login-link:hover {
    text-decoration: underline;
  }

    .failed-message {
    color: #d20606;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
  }

  .success-message {
    color: #06d217;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
  }

   .loading {
    color: #0fc9c6;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
  }
